################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################/API/TodosApi/obj
/API/TodosApi/TodosApi.csproj.user
/.vs
/API/TodosApi/.vs
/API/TodosApi/bin
/API/TodosApi/obj
